.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.993652;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.188000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.076000;font-style:normal;font-weight:normal;visibility:visible;}
.ff4{font-family:sans-serif;visibility:hidden;}
.ff5{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.993652;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.m1{transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-ms-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-webkit-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-31.026115px;}
._2{margin-left:-1.013235px;}
._3{width:16.587652px;}
._1{width:30.645148px;}
.fc3{color:transparent;}
.fc1{color:rgb(0,255,10);}
.fc2{color:rgb(230,230,230);}
.fc0{color:rgb(255,255,255);}
.fs9{font-size:37.319997px;}
.fsb{font-size:39.209997px;}
.fsa{font-size:93.822134px;}
.fs7{font-size:95.099999px;}
.fs4{font-size:102.002349px;}
.fs0{font-size:103.859993px;}
.fs1{font-size:103.979996px;}
.fs6{font-size:112.950001px;}
.fs8{font-size:126.389998px;}
.fs5{font-size:133.137565px;}
.fs3{font-size:134.560743px;}
.fs2{font-size:145.740000px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.000035px;}
.y1b{bottom:15.222131px;}
.y1a{bottom:34.347131px;}
.y19{bottom:53.472130px;}
.y1f{bottom:91.298840px;}
.y1e{bottom:116.482315px;}
.y1d{bottom:141.665790px;}
.y1c{bottom:171.355539px;}
.y3{bottom:437.146686px;}
.y18{bottom:528.054422px;}
.y17{bottom:593.304419px;}
.y16{bottom:658.554417px;}
.yd{bottom:1054.066168px;}
.yc{bottom:1123.381906px;}
.y2{bottom:1235.640261px;}
.y5{bottom:1324.139525px;}
.y4{bottom:1400.639522px;}
.y15{bottom:1549.325898px;}
.y14{bottom:1598.825896px;}
.y13{bottom:1648.325894px;}
.y12{bottom:1697.825892px;}
.y11{bottom:1747.325890px;}
.y10{bottom:1796.825888px;}
.yf{bottom:1846.325886px;}
.yb{bottom:1976.964689px;}
.ya{bottom:2029.380669px;}
.y9{bottom:2081.796649px;}
.y8{bottom:2134.212629px;}
.y7{bottom:2202.372320px;}
.y6{bottom:2272.592124px;}
.ye{bottom:2362.759097px;}
.he{height:28.554900px;}
.h10{height:30.001009px;}
.hf{height:71.786760px;}
.hb{height:72.764501px;}
.h3{height:79.467094px;}
.h4{height:79.558913px;}
.h7{height:81.703882px;}
.h9{height:86.422193px;}
.hc{height:90.344999px;}
.hd{height:101.238388px;}
.h8{height:106.643189px;}
.ha{height:107.302501px;}
.h5{height:111.511025px;}
.h6{height:123.392201px;}
.h2{height:2414.249899px;}
.h0{height:2414.249994px;}
.h1{height:2414.250000px;}
.w1{width:1536.749936px;}
.w0{width:1536.750000px;}
.x0{left:0.000000px;}
.x6{left:43.793000px;}
.x18{left:62.089669px;}
.x8{left:94.990469px;}
.x7{left:102.840880px;}
.x5{left:211.477306px;}
.xb{left:221.247060px;}
.x2{left:318.653907px;}
.x3{left:356.358984px;}
.x16{left:396.544970px;}
.x15{left:403.277392px;}
.xa{left:408.239400px;}
.x17{left:439.804734px;}
.x4{left:515.193280px;}
.x1{left:562.393278px;}
.xc{left:570.495792px;}
.x9{left:582.754721px;}
.xd{left:612.841488px;}
.xe{left:851.880709px;}
.xf{left:912.507659px;}
.x11{left:1104.187626px;}
.x10{left:1145.423543px;}
.x13{left:1173.134632px;}
.x14{left:1245.771795px;}
.x12{left:1261.594267px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-27.578769pt;}
._2{margin-left:-0.900653pt;}
._3{width:14.744580pt;}
._1{width:27.240132pt;}
.fs9{font-size:33.173331pt;}
.fsb{font-size:34.853331pt;}
.fsa{font-size:83.397452pt;}
.fs7{font-size:84.533332pt;}
.fs4{font-size:90.668755pt;}
.fs0{font-size:92.319993pt;}
.fs1{font-size:92.426663pt;}
.fs6{font-size:100.400001pt;}
.fs8{font-size:112.346665pt;}
.fs5{font-size:118.344502pt;}
.fs3{font-size:119.609549pt;}
.fs2{font-size:129.546667pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.000031pt;}
.y1b{bottom:13.530783pt;}
.y1a{bottom:30.530783pt;}
.y19{bottom:47.530782pt;}
.y1f{bottom:81.154525pt;}
.y1e{bottom:103.539836pt;}
.y1d{bottom:125.925147pt;}
.y1c{bottom:152.316035pt;}
.y3{bottom:388.574832pt;}
.y18{bottom:469.381708pt;}
.y17{bottom:527.381706pt;}
.y16{bottom:585.381704pt;}
.yd{bottom:936.947705pt;}
.yc{bottom:998.561694pt;}
.y2{bottom:1098.346898pt;}
.y5{bottom:1177.012911pt;}
.y4{bottom:1245.012908pt;}
.y15{bottom:1377.178576pt;}
.y14{bottom:1421.178574pt;}
.y13{bottom:1465.178573pt;}
.y12{bottom:1509.178571pt;}
.y11{bottom:1553.178569pt;}
.y10{bottom:1597.178567pt;}
.yf{bottom:1641.178565pt;}
.yb{bottom:1757.301946pt;}
.ya{bottom:1803.893928pt;}
.y9{bottom:1850.485910pt;}
.y8{bottom:1897.077892pt;}
.y7{bottom:1957.664284pt;}
.y6{bottom:2020.081888pt;}
.ye{bottom:2100.230309pt;}
.he{height:25.382134pt;}
.h10{height:26.667563pt;}
.hf{height:63.810453pt;}
.hb{height:64.679557pt;}
.h3{height:70.637417pt;}
.h4{height:70.719034pt;}
.h7{height:72.625673pt;}
.h9{height:76.819727pt;}
.hc{height:80.306666pt;}
.hd{height:89.989678pt;}
.h8{height:94.793946pt;}
.ha{height:95.380001pt;}
.h5{height:99.120911pt;}
.h6{height:109.681956pt;}
.h2{height:2145.999911pt;}
.h0{height:2145.999995pt;}
.h1{height:2146.000000pt;}
.w1{width:1365.999943pt;}
.w0{width:1366.000000pt;}
.x0{left:0.000000pt;}
.x6{left:38.927112pt;}
.x18{left:55.190817pt;}
.x8{left:84.435972pt;}
.x7{left:91.414116pt;}
.x5{left:187.979827pt;}
.xb{left:196.664054pt;}
.x2{left:283.247917pt;}
.x3{left:316.763541pt;}
.x16{left:352.484418pt;}
.x15{left:358.468793pt;}
.xa{left:362.879467pt;}
.x17{left:390.937541pt;}
.x4{left:457.949582pt;}
.x1{left:499.905136pt;}
.xc{left:507.107371pt;}
.x9{left:518.004196pt;}
.xd{left:544.747989pt;}
.xe{left:757.227296pt;}
.xf{left:811.117919pt;}
.x11{left:981.500112pt;}
.x10{left:1018.154261pt;}
.x13{left:1042.786340pt;}
.x14{left:1107.352707pt;}
.x12{left:1121.417126pt;}
}
